<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="contenedor">

        <h2 style="color:rgb(48, 48, 48)">
            Usuario
        </h2>
        <form method="POST">
            <input type="text" placeholder="Ingrese su nombre" name="nombre" required>
            <input type="email" placeholder="Ingrese su correo" name="correo" required>
            <button>registrar</button>
        </form>
        <table>
            <tr><th>ID</th><th>Nombre Usuario</th><th>Correo</th><th>Acciones</th></tr>
            {% for persona in usuarios %}
            <tr>
                <td>{{  persona.id }}</td>
                <td>{{ persona.nombre }}</td>
                <td>{{ persona.correo }}</td>
                <td>
                    <a href="/update/{{ persona.id }}">editar</a>
                    |
                    <a href="/?eliminar={{ persona.id }}">eliminar</a>

                </td>


            </tr>


                {% endfor %}
            
        </table>

    </div>    
</body>
</html>